<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessmatch">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessMatch">
        <activity android:name=".WorkoutHistoryActivity"
            android:label="History"
            android:parentActivityName=".HomeActivity"
            ></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_name"></activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/signup_name"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/find_name"
            android:parentActivityName=".HomeActivity"></activity>
        <activity
            android:name=".Find1Activity"
            android:label="@string/find_name"></activity>
        <activity
            android:name=".Find2Activity"
            android:label="@string/find_name"></activity>
        <activity
            android:name=".Find3Activity"
            android:label="@string/find_name"></activity>
        <activity
            android:name=".Find4Activity"
            android:label="@string/find_name"></activity>
        <activity
            android:name=".EditProgress"
            android:label="@string/edit_name"></activity>
        <activity
            android:name=".AddProgress"
            android:label="@string/add_name"></activity>
        <activity
            android:name=".ProgressMainActivity"
            android:label="@string/progress_name"
            android:parentActivityName=".HomeActivity"></activity>
        <activity
            android:name=".NewFindActivity"
            android:label="Matches"
            android:parentActivityName=".HomeActivity"
            ></activity>
        <activity android:name=".RequestsActivity"
            android:label="Requests"
            ></activity>

    </application>

</manifest>